* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gilroy";
  text-decoration: none;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}

.header a {
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left a:nth-child(2) {
  margin: 0 40px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__right .search svg {
  margin-right: 16px;
}

.header__right .search .header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right .account {
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 0 40px;
}

.header__right .select a:first-child {
  margin-right: 25px;
}

.intro {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 51, 51, 0.87)), to(rgba(51, 51, 51, 0.87))), url(/img/bgc.jpg);
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.87), rgba(51, 51, 51, 0.87)), url(/img/bgc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -83px;
}

.intro .intro__wrap {
  height: 100vh;
  padding-top: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .intro__wrap .brand {
  margin-bottom: 30px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro .intro__wrap .brand .brand__img:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid #FFFFFF;
}

.intro .intro__wrap .brand::before {
  padding-bottom: 30px;
  border-bottom: 1px solid #FFFFFF;
}

.intro .intro__wrap hr {
  border: 1px solid #FFFFFF;
  width: 100%;
  margin-bottom: 30px;
}

.intro .intro__wrap a {
  margin-bottom: 80px;
  width: 24%;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 35px;
  background: #333333;
  border: 1px solid #FFFFFF;
}

.intro .intro__wrap a:hover {
  background: #ffffff;
  border: 1px solid black;
  color: black;
}

.intro .intro__wrap h1 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
  font-family: serif;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 9%;
  margin-bottom: calc(11% - 30px);
}

.categories .meeting {
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
  margin-bottom: 1.6%;
}

.categories h2 {
  font-family: Serif;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
  margin-bottom: 6.3%;
}

.categories .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5.8%;
}

.categories .list__link {
  width: 15%;
}

.categories .list__link a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  border: 1px solid #D6D6D6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  padding: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories .list__link a:hover {
  background: #333333;
  color: #FFFFFF;
}

.categories .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories .category .category__item {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 222px 0 30px;
  margin-bottom: 30px;
}

.categories .category .category__item a {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.categories .category .category__item a:hover {
  font-weight: bold;
  font-size: larger;
}

.categories .category .rings {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20.31%, rgba(180, 180, 180, 0)), to(#333333)), url(/img/rings.jpg);
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(/img/rings.jpg);
  background-repeat: no-repeat;
}

.categories .category .errings {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20.31%, rgba(180, 180, 180, 0)), to(#333333)), url(/img/errings.jpg);
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(/img/errings.jpg);
  background-repeat: no-repeat;
}

.categories .category .pendants {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20.31%, rgba(180, 180, 180, 0)), to(#333333)), url(/img/pendants.jpg);
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(/img/pendants.jpg);
  background-repeat: no-repeat;
}

.categories .category .cuffinks {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20.31%, rgba(180, 180, 180, 0)), to(#333333)), url(/img/cuffinks.jpg);
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(/img/cuffinks.jpg);
  background-repeat: no-repeat;
}

.categories .category .bracelets {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20.31%, rgba(180, 180, 180, 0)), to(#333333)), url(/img/bracelets.jpg);
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(/img/bracelets.jpg);
  background-repeat: no-repeat;
}

.categories .category .watches {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20.31%, rgba(180, 180, 180, 0)), to(#333333)), url(/img/watches.jpg);
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%), url(/img/watches.jpg);
  background-repeat: no-repeat;
}

.salon {
  background: url(/img/bg__salon.jpg);
}

.salon .salon__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.salon .salon__wrap span {
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  padding-top: 9%;
  margin-bottom: 1.6%;
}

.salon .salon__wrap h2 {
  font-family: Serif;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 4.7%;
}

.salon .salon__wrap p {
  max-width: 66.3%;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 6.3%;
}

.salon .salon__wrap a {
  background: #FFFFFF;
  border: 1px solid #333333;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  padding: 15px 35px;
  margin-bottom: 9%;
}

.salon .salon__wrap a:hover {
  background: black;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 11%;
  margin-bottom: 11%;
}

.blog span {
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
  margin-bottom: 1.6%;
}

.blog h2 {
  font-family: Serif;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
  margin-bottom: 6.3%;
}

.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  margin-bottom: 6.3%;
}

.blog__item .item__sup {
  width: 32%;
  padding: 248px 0 35px;
}

.blog__item .item__sup:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 180, 180, 0)), to(#333333)), url(/img/blog1.jpg);
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%), url(/img/blog1.jpg);
  background-repeat: no-repeat;
}

.blog__item .item__sup:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 180, 180, 0)), to(#333333)), url(/img/blog2.jpg);
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%), url(/img/blog2.jpg);
  background-repeat: no-repeat;
}

.blog__item .item__sup:last-child {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 180, 180, 0)), to(#333333)), url(/img/blog3.png);
  background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%), url(/img/blog3.png);
  background-repeat: no-repeat;
}

.blog__item .item__sup a {
  font-weight: lighter;
  font-size: 21px;
  line-height: 140%;
  word-break: keep-all;
  color: #FFFFFF;
}

.blog .read__blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #333333;
  border: 1px solid #FFFFFF;
  padding: 15px 35px;
}

.blog .read__blog:hover {
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #000000;
  color: #000000;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 13%;
}

.gallery span {
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
  margin-bottom: 1.6%;
}

.gallery h2 {
  font-family: Serif;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
  margin-bottom: 6.3%;
}

.gallery .gallery__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .gallery__img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */